footer.bg-gray-800.text-white.py-6.mt-auto
  .container.mx-auto.px-5
    .flex.flex-col.md:flex-row.justify-between.items-center
      .mb-4.md:mb-0
        p.text-sm
          | &copy; 
          = Time.current.year
          |  Masato Sugiyama. All rights reserved.
      nav.flex.space-x-4
        = link_to "ホーム", 
          root_path, 
          class: "text-sm hover:text-gray-300"
        = link_to "プライバシーポリシー", 
          "#", 
          class: "text-sm hover:text-gray-300"
        = link_to "利用規約", 
          "#", 
          class: "text-sm hover:text-gray-300"
